					</div><!-- #content -->
				</div><!-- #primary -->
			</div><!-- #main -->
			<footer id="colophon" class="site-footer" role="contentinfo">
				<div class="site-info">
					Proudly Powered by <a href="http://ghost.org" target="_blank">Ghost</a> and <a href="http://wordpress.org" target="_blank">Wordpress</a>
				</div><!-- .site-info -->
			</footer><!-- #colophon -->
		</div><!-- #page -->
