		<div id="page" class="hfeed site">
			<header class="site-header" id="masthead" role="banner">
				<a class="home-link" title="{{@blog.title}}" href="{{@blog.url}}" rel="home">
					<h1 class="site-title">{{{@blog.title}}}</h1>
					<h2 class="site-description">
						{{@blog.description}}
					</h2>
				</a>
			</header><!-- #masthead -->

			<div id="main" class="site-main">
				<div id="primary" class="content-area">
					<div id="content" class="site-content" role="main">
